<phpunit
        bootstrap="./bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false" >
    <testsuite name="Unit Tests">
        <directory>./unit/</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">../vendor</directory>
        </blacklist>
    </filter>
</phpunit>
